@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color:#D3573C;
    font-size: 40px;
    /* margin-right: 95px; */
    margin-bottom: 0;
}

p {
    margin: 0 ;
}

.logo {
    height: 40px;
    margin-left: 100px;
    cursor: pointer;
}

header h1 {
    font-size: 35px;
    color:#901c1c;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 15px;
}

.photograph-header article {
    padding-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photograph-header {
    align-items: center;
}


.photographer_section a ,.photograph-header a{
    text-decoration: none;
}

.photographer_section article img {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.photograph-img {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.photographer_section article h2, .photograph-header article h2{
    color: #D3573C;
    font-size: 28px;
}


.localisation {
    color: #901c1c;
    font-size: 18px;
}

.paragraph {
    color: black;
    margin: 7px 0;
}

.price {
    color: gray;   
}